<!doctype html>
<html>
<head>
    <title>HaydenBucks</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="container">
        
            
            <form action="/coffeeOrderForm" method="POST">
                <section>
                    <h3>Customer's Name</h3>
                    <input type="text" class="info name" name="name" placeholder="Their Name">
                </section>
                

                <section>
                    <h3>Size</h3>
                    <label for="size">Tall</label>
                    <input required type="radio" class="info size" name="size" value="Tall">
                    <label for="size">Grande</label>
                    <input type="radio" class="info size" name="size" value="Grande">
                    <label for="size">Venti</label>
                    <input type="radio" class="info size" name="size" value="Venti">
                </section>
                <section>
                    <h3>Beverage</h3>
                    <label for="beverage">Tazania Peaberry</label>
                    <input required type="radio" class="info beverage" name="beverage" value="Tazania Peaberry">
                    <label for="beverage">Hawaii Kona</label>
                    <input type="radio" class="info beverage" name="beverage" value="Hawaii Kona">
                    <label for="beverage">Kopi Luwac</label>
                    <input type="radio" class="info beverage" name="beverage" value="Kopi Luwac">
                </section>
                <section>
                    <h4>Flavor</h4>
                    <label>
                            Caramel
                            <input required type="radio" name="flavor" value="Caramel">
                    </label>
                    <label>
                            Mocha
                            <input type="radio" name="flavor" value="Mocha">
                    </label>
                    <label>
                            Vanilla
                            <input type="radio" name="flavor" value="Vanilla">
                    </label>
                    <label>
                        a
                        <input type="radio" name="flavor" value="Vanilla">
                </label>
                </section>
                <section>
                    <h4>Milk Options</h4>
                    <label>
                            No Milk
                            <input required type="radio" name="milkOptions" value="No Milk">
                    </label>
                    <label>
                            Whole Milk
                            <input type="radio" name="milkOptions" value="Whole Milk">
                    </label>
                    <label>
                            Lowfat Milk
                            <input type="radio" name="milkOptions" value="Lowfat Milk">
                    </label>
                    <label>
                            Oat Milk
                            <input type="radio" name="milkOptions" value="Oat Milk">
                    </label>
                    <label>
                            Almond Milk
                            <input type="radio" name="milkOptions" value="Almond Milk">
                    </label>
                    <label>
                            Light Cream
                            <input type="radio" name="milkOptions" value="Light cream">
                    </label>
                </section>
                <section>
                    <label for="note">Note</label>
                    <input type="text" class="info note" name="note" placeholder="Note">
                </section>
              <button type="submit">Submit</button>
            </form>
        </section>
    
  </section>
  
  <a href="/signup"><button>Sign up</button></a>
  <a href="/login"><button>Login</button></a>
 
<script src="main.js"></script>

</body>
</html>